event/src/main/resources/META-INF/event-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.haipaite.com/common/event" xmlns="http://www.haipaite.com/common/event"
	elementFormDefault="qualified">

	<xsd:element name="config">
		<xsd:complexType>
			<xsd:attribute name="base-package" type="xsd:string"
				use="required" />
			<xsd:attribute name="monitor" type="xsd:boolean"
				default="true" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>